nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark);
  color: var(--white);
  height: 75px;
  padding: 0.5rem 2rem;

  & .nav__logo {
    display: flex;
    align-items: center;

    & svg {
      height: 2rem;
      width: 2em;
      margin: 0 0.5rem 0 0;
      fill: var(--accent);
    }

    & span {
      font-weight: 600;
      font-size: 1.5rem;

      &:hover {
        color: var(--accent);
        cursor: pointer;
      }
    }
  }

  & .nav__links {
    list-style: none;
    display: flex;

    & .nav__item {
      margin: 0 0 0 1.5rem;
      font-size: 1.1rem;
      font-weight: 600;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        opacity: 0.75;
      }
    }
  }
}
