footer {
  background-color: var(--dark-acc);
  color: var(--white);
  padding: 2rem;

  & .footer__container {
    max-width: var(--container);
    margin: 0 auto;

    & .footer__links {
      display: flex;

      & ul {
        flex: 1;
        text-align: center;
        list-style: none;
        line-height: 2;

        & h3 {
          font-weight: 700;
          font-size: 1.2rem;
        }

        & li {
          & a {
            text-decoration: none;
            color: var(--accent);

            &:hover {
              opacity: 0.75;
            }
          }
        }
      }
    }

    & .footer__copyright {
      text-align: center;
      padding: 2rem 1.5rem 0 1.5rem;
    }
  }
}
